dist
node_modules
*.tsbuildinfo
*.vsix

extensions/vscode/out
extensions/vscode/tests/embeddedGrammars/*.tmLanguage.json
packages/*/*.d.ts
packages/*/*.js
packages/*/*.map
packages/*/lib/**/*.d.ts
packages/*/lib/**/*.js
packages/*/lib/**/*.map
