dist
node_modules
*.tsbuildinfo
*.vsix
.vscode-test

extensions/vscode/out
extensions/vscode/e2e/out
packages/*/*.d.ts
packages/*/*.js
packages/*/*.map
packages/*/lib/**/*.d.ts
packages/*/lib/**/*.js
packages/*/lib/**/*.map
