# project
.vscode/**
**/*.map
**/*.ts
**/*.d.ts
**/*.flow
.gitignore
**/tsconfig.json
**/tsconfig.*.json
**/*.tsbuildinfo
**/tests/
**/testCases/
packages/

# text files
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/license
node_modules/**/LICENSE

# ignore all *.js
node_modules/**/*.js

# whitelist
!node_modules/@babel/helper-validator-identifier/lib/*.js
!node_modules/@babel/parser/lib/*.js
!node_modules/@babel/types/lib/*.js
!node_modules/@babel/types/lib/asserts/*.js
!node_modules/@babel/types/lib/asserts/generated/*.js
!node_modules/@babel/types/lib/ast-types/generated/*.js
!node_modules/@babel/types/lib/builders/*.js
!node_modules/@babel/types/lib/builders/flow/*.js
!node_modules/@babel/types/lib/builders/generated/*.js
!node_modules/@babel/types/lib/builders/react/*.js
!node_modules/@babel/types/lib/builders/typescript/*.js
!node_modules/@babel/types/lib/clone/*.js
!node_modules/@babel/types/lib/comments/*.js
!node_modules/@babel/types/lib/constants/*.js
!node_modules/@babel/types/lib/constants/generated/*.js
!node_modules/@babel/types/lib/converters/ensureBlock.js
!node_modules/@babel/types/lib/converters/gatherSequenceExpressions.js
!node_modules/@babel/types/lib/converters/toBindingIdentifierName.js
!node_modules/@babel/types/lib/converters/toBlock.js
!node_modules/@babel/types/lib/converters/toComputedKey.js
!node_modules/@babel/types/lib/converters/toExpression.js
!node_modules/@babel/types/lib/converters/toIdentifier.js
!node_modules/@babel/types/lib/converters/toKeyAlias.js
!node_modules/@babel/types/lib/converters/toSequenceExpression.js
!node_modules/@babel/types/lib/converters/toStatement.js
!node_modules/@babel/types/lib/converters/valueToNode.js
!node_modules/@babel/types/lib/definitions/*.js
!node_modules/@babel/types/lib/modifications/*.js
!node_modules/@babel/types/lib/modifications/flow/*.js
!node_modules/@babel/types/lib/modifications/typescript/*.js
!node_modules/@babel/types/lib/retrievers/*.js
!node_modules/@babel/types/lib/traverse/*.js
!node_modules/@babel/types/lib/utils/*.js
!node_modules/@babel/types/lib/utils/react/*.js
!node_modules/@babel/types/lib/validators/*.js
!node_modules/@babel/types/lib/validators/generated/*.js
!node_modules/@babel/types/lib/validators/react/*.js
!node_modules/@emmetio/abbreviation/dist/abbreviation.cjs.js
!node_modules/@emmetio/css-abbreviation/dist/css-abbreviation.cjs.js
!node_modules/@emmetio/scanner/scanner.js
!node_modules/@starptech/expression-parser/*.js
!node_modules/@starptech/hast-util-from-webparser/dist/*.js
!node_modules/@starptech/prettyhtml-formatter/*.js
!node_modules/@starptech/prettyhtml-hast-to-html/*.js
!node_modules/@starptech/prettyhtml-hast-to-html/lib/*.js
!node_modules/@starptech/prettyhtml-hast-to-html/lib/omission/*.js
!node_modules/@starptech/prettyhtml-hast-to-html/lib/omission/util/*.js
!node_modules/@starptech/prettyhtml-hastscript/*.js
!node_modules/@starptech/prettyhtml-sort-attributes/*.js
!node_modules/@starptech/prettyhtml/*.js
!node_modules/@starptech/rehype-minify-whitespace/*.js
!node_modules/@starptech/rehype-webparser/dist/*.js
!node_modules/@starptech/webparser/dist/assertions.js
!node_modules/@starptech/webparser/dist/ast.js
!node_modules/@starptech/webparser/dist/ast_path.js
!node_modules/@starptech/webparser/dist/chars.js
!node_modules/@starptech/webparser/dist/html_parser.js
!node_modules/@starptech/webparser/dist/html_tags.js
!node_modules/@starptech/webparser/dist/interpolation_config.js
!node_modules/@starptech/webparser/dist/lexer.js
!node_modules/@starptech/webparser/dist/parse_util.js
!node_modules/@starptech/webparser/dist/parser.js
!node_modules/@starptech/webparser/dist/public_api.js
!node_modules/@starptech/webparser/dist/tags.js
!node_modules/@volar/client/out/*.js
!node_modules/@volar/client/out/features/*.js
!node_modules/@volar/code-gen/out/*.js
!node_modules/@volar/html2pug/out/*.js
!node_modules/@volar/server/out/*.js
!node_modules/@volar/server/out/features/*.js
!node_modules/@volar/server/out/registers/*.js
!node_modules/@volar/shared/out/*.js
!node_modules/@volar/source-map/out/*.js
!node_modules/@volar/transforms/out/*.js
!node_modules/@volar/vue-code-gen/out/*.js
!node_modules/@volar/vue-code-gen/out/generators/*.js
!node_modules/@volar/vue-code-gen/out/parsers/*.js
!node_modules/@vscode/emmet-helper/lib/cjs/*.js
!node_modules/@vscode/emmet-helper/node_modules/vscode-uri/lib/umd/*.js
!node_modules/@vue/compiler-core/*.js
!node_modules/@vue/compiler-core/dist/compiler-core.cjs.js
!node_modules/@vue/compiler-dom/*.js
!node_modules/@vue/compiler-dom/dist/compiler-dom.cjs.js
!node_modules/@vue/reactivity/*.js
!node_modules/@vue/reactivity/dist/reactivity.cjs.js
!node_modules/@vue/shared/*.js
!node_modules/@vue/shared/dist/shared.cjs.js
!node_modules/acorn/dist/acorn.js
!node_modules/array-iterate/*.js
!node_modules/asap/asap.js
!node_modules/asap/raw.js
!node_modules/assert-never/*.js
!node_modules/babel-walk/lib/explode.js
!node_modules/babel-walk/lib/index.js
!node_modules/bail/*.js
!node_modules/balanced-match/*.js
!node_modules/brace-expansion/*.js
!node_modules/call-bind/*.js
!node_modules/character-parser/*.js
!node_modules/collapse-white-space/*.js
!node_modules/comma-separated-tokens/*.js
!node_modules/concat-map/*.js
!node_modules/constantinople/lib/*.js
!node_modules/doctypes/index.js
!node_modules/dom-serializer/lib/*.js
!node_modules/domelementtype/lib/*.js
!node_modules/domhandler/lib/*.js
!node_modules/domutils/lib/*.js
!node_modules/emmet/dist/emmet.cjs.js
!node_modules/entities/lib/*.js
!node_modules/estree-walker/dist/umd/*.js
!node_modules/extend/*.js
!node_modules/function-bind/*.js
!node_modules/get-intrinsic/*.js
!node_modules/has-symbols/*.js
!node_modules/has-tostringtag/shams.js
!node_modules/has/src/*.js
!node_modules/hast-util-embedded/*.js
!node_modules/hast-util-has-property/*.js
!node_modules/hast-util-is-body-ok-link/*.js
!node_modules/hast-util-is-element/*.js
!node_modules/hast-util-parse-selector/*.js
!node_modules/hast-util-to-string/*.js
!node_modules/hast-util-whitespace/*.js
!node_modules/htmlparser2/lib/FeedHandler.js
!node_modules/htmlparser2/lib/Parser.js
!node_modules/htmlparser2/lib/Tokenizer.js
!node_modules/htmlparser2/lib/index.js
!node_modules/is-alphabetical/*.js
!node_modules/is-alphanumerical/*.js
!node_modules/is-buffer/*.js
!node_modules/is-core-module/*.js
!node_modules/is-decimal/*.js
!node_modules/is-expression/*.js
!node_modules/is-hexadecimal/*.js
!node_modules/is-plain-obj/*.js
!node_modules/is-promise/*.js
!node_modules/is-regex/*.js
!node_modules/js-stringify/*.js
!node_modules/jsonc-parser/lib/umd/*.js
!node_modules/jsonc-parser/lib/umd/impl/*.js
!node_modules/jstransformer/*.js
!node_modules/lodash.iteratee/*.js
!node_modules/lru-cache/*.js
!node_modules/minimatch/*.js
!node_modules/object-assign/*.js
!node_modules/prettier/index.js
!node_modules/prettier/parser-postcss.js
!node_modules/prettier/third-party.js
!node_modules/promise/index.js
!node_modules/promise/lib/core.js
!node_modules/promise/lib/done.js
!node_modules/promise/lib/es6-extensions.js
!node_modules/promise/lib/finally.js
!node_modules/promise/lib/index.js
!node_modules/promise/lib/node-extensions.js
!node_modules/promise/lib/synchronous.js
!node_modules/property-information/find.js
!node_modules/property-information/html.js
!node_modules/property-information/lib/*.js
!node_modules/property-information/lib/util/*.js
!node_modules/property-information/normalize.js
!node_modules/property-information/svg.js
!node_modules/pug-attrs/*.js
!node_modules/pug-beautify/*.js
!node_modules/pug-code-gen/*.js
!node_modules/pug-error/*.js
!node_modules/pug-filters/*.js
!node_modules/pug-filters/lib/*.js
!node_modules/pug-lexer/*.js
!node_modules/pug-linker/*.js
!node_modules/pug-load/*.js
!node_modules/pug-parser/*.js
!node_modules/pug-parser/lib/*.js
!node_modules/pug-runtime/*.js
!node_modules/pug-runtime/lib/*.js
!node_modules/pug-strip-comments/*.js
!node_modules/pug-walk/*.js
!node_modules/pug/lib/*.js
!node_modules/repeat-string/*.js
!node_modules/replace-ext/*.js
!node_modules/request-light/lib/node/*.js
!node_modules/resolve/*.js
!node_modules/resolve/lib/*.js
!node_modules/s.color/lib/ColorConverters.js
!node_modules/s.color/lib/ColorTypes.js
!node_modules/s.color/lib/HandleGet.js
!node_modules/s.color/lib/HandleSet.js
!node_modules/s.color/lib/index.js
!node_modules/s.color/lib/regex.js
!node_modules/s.color/lib/utils.js
!node_modules/s.color/lib/validators.js
!node_modules/sass-formatter/dist/*.js
!node_modules/sass-formatter/dist/formatters/*.js
!node_modules/source-map/*.js
!node_modules/source-map/lib/*.js
!node_modules/space-separated-tokens/*.js
!node_modules/stringify-entities/*.js
!node_modules/suf-log/dist/*.js
!node_modules/suf-regex/lib/*.js
!node_modules/to-fast-properties/*.js
!node_modules/token-stream/*.js
!node_modules/trough/*.js
!node_modules/unified/*.js
!node_modules/unified/node_modules/unist-util-stringify-position/*.js
!node_modules/unified/node_modules/vfile-message/*.js
!node_modules/unified/node_modules/vfile/*.js
!node_modules/unist-util-find/index.js
!node_modules/unist-util-is/*.js
!node_modules/unist-util-modify-children/*.js
!node_modules/unist-util-stringify-position/*.js
!node_modules/unist-util-visit-parents/*.js
!node_modules/unist-util-visit-parents/node_modules/unist-util-is/convert.js
!node_modules/unist-util-visit/*.js
!node_modules/upath/build/code/*.js
!node_modules/vfile/index.js
!node_modules/vfile/lib/core.js
!node_modules/vfile/lib/index.js
!node_modules/vfile/lib/minpath.js
!node_modules/vfile/lib/minproc.js
!node_modules/vfile/node_modules/vfile-message/*.js
!node_modules/void-elements/*.js
!node_modules/vscode-css-languageservice/lib/umd/*.js
!node_modules/vscode-css-languageservice/lib/umd/data/*.js
!node_modules/vscode-css-languageservice/lib/umd/languageFacts/*.js
!node_modules/vscode-css-languageservice/lib/umd/parser/*.js
!node_modules/vscode-css-languageservice/lib/umd/services/*.js
!node_modules/vscode-css-languageservice/lib/umd/utils/*.js
!node_modules/vscode-html-languageservice/lib/umd/*.js
!node_modules/vscode-html-languageservice/lib/umd/beautify/*.js
!node_modules/vscode-html-languageservice/lib/umd/languageFacts/*.js
!node_modules/vscode-html-languageservice/lib/umd/languageFacts/data/*.js
!node_modules/vscode-html-languageservice/lib/umd/parser/*.js
!node_modules/vscode-html-languageservice/lib/umd/services/*.js
!node_modules/vscode-html-languageservice/lib/umd/utils/arrays.js
!node_modules/vscode-html-languageservice/lib/umd/utils/markup.js
!node_modules/vscode-html-languageservice/lib/umd/utils/object.js
!node_modules/vscode-html-languageservice/lib/umd/utils/strings.js
!node_modules/vscode-json-languageservice/lib/umd/jsonLanguageService.js
!node_modules/vscode-json-languageservice/lib/umd/jsonLanguageTypes.js
!node_modules/vscode-json-languageservice/lib/umd/parser/*.js
!node_modules/vscode-json-languageservice/lib/umd/services/*.js
!node_modules/vscode-json-languageservice/lib/umd/utils/*.js
!node_modules/vscode-json-languageservice/node_modules/jsonc-parser/lib/umd/*.js
!node_modules/vscode-json-languageservice/node_modules/jsonc-parser/lib/umd/impl/*.js
!node_modules/vscode-jsonrpc/lib/common/api.js
!node_modules/vscode-jsonrpc/lib/common/cancellation.js
!node_modules/vscode-jsonrpc/lib/common/connection.js
!node_modules/vscode-jsonrpc/lib/common/disposable.js
!node_modules/vscode-jsonrpc/lib/common/events.js
!node_modules/vscode-jsonrpc/lib/common/is.js
!node_modules/vscode-jsonrpc/lib/common/linkedMap.js
!node_modules/vscode-jsonrpc/lib/common/messageBuffer.js
!node_modules/vscode-jsonrpc/lib/common/messageReader.js
!node_modules/vscode-jsonrpc/lib/common/messageWriter.js
!node_modules/vscode-jsonrpc/lib/common/messages.js
!node_modules/vscode-jsonrpc/lib/common/ral.js
!node_modules/vscode-jsonrpc/lib/common/semaphore.js
!node_modules/vscode-jsonrpc/lib/node/*.js
!node_modules/vscode-jsonrpc/node.js
!node_modules/vscode-languageclient/lib/common/*.js
!node_modules/vscode-languageclient/lib/common/utils/*.js
!node_modules/vscode-languageclient/lib/node/*.js
!node_modules/vscode-languageclient/node.js
!node_modules/vscode-languageclient/node_modules/semver/classes/comparator.js
!node_modules/vscode-languageclient/node_modules/semver/classes/range.js
!node_modules/vscode-languageclient/node_modules/semver/classes/semver.js
!node_modules/vscode-languageclient/node_modules/semver/functions/*.js
!node_modules/vscode-languageclient/node_modules/semver/index.js
!node_modules/vscode-languageclient/node_modules/semver/internal/*.js
!node_modules/vscode-languageclient/node_modules/semver/ranges/*.js
!node_modules/vscode-languageserver-protocol/lib/common/*.js
!node_modules/vscode-languageserver-protocol/lib/common/utils/*.js
!node_modules/vscode-languageserver-protocol/lib/node/*.js
!node_modules/vscode-languageserver-protocol/node.js
!node_modules/vscode-languageserver-protocol/node_modules/vscode-languageserver-types/lib/umd/*.js
!node_modules/vscode-languageserver-textdocument/lib/umd/*.js
!node_modules/vscode-languageserver-types/lib/umd/*.js
!node_modules/vscode-languageserver/lib/common/*.js
!node_modules/vscode-languageserver/lib/common/utils/*.js
!node_modules/vscode-languageserver/lib/node/files.js
!node_modules/vscode-languageserver/lib/node/main.js
!node_modules/vscode-languageserver/node.js
!node_modules/vscode-nls/lib/common/*.js
!node_modules/vscode-nls/lib/node/*.js
!node_modules/vscode-pug-languageservice/out/*.js
!node_modules/vscode-pug-languageservice/out/services/*.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/classes/comparator.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/classes/range.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/classes/semver.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/functions/*.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/index.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/internal/*.js
!node_modules/vscode-typescript-languageservice/node_modules/semver/ranges/*.js
!node_modules/vscode-typescript-languageservice/out/*.js
!node_modules/vscode-typescript-languageservice/out/services/*.js
!node_modules/vscode-typescript-languageservice/out/utils/fixNames.js
!node_modules/vscode-typescript-languageservice/out/utils/modifiers.js
!node_modules/vscode-typescript-languageservice/out/utils/previewer.js
!node_modules/vscode-typescript-languageservice/out/utils/transforms.js
!node_modules/vscode-typescript-languageservice/out/utils/typeConverters.js
!node_modules/vscode-uri/lib/umd/*.js
!node_modules/vscode-vue-languageservice/out/*.js
!node_modules/vscode-vue-languageservice/out/commands/*.js
!node_modules/vscode-vue-languageservice/out/parsers/*.js
!node_modules/vscode-vue-languageservice/out/services/*.js
!node_modules/vscode-vue-languageservice/out/use/*.js
!node_modules/vscode-vue-languageservice/out/utils/*.js
!node_modules/with/lib/*.js
!node_modules/x-is-string/*.js
!node_modules/xtend/immutable.js
!node_modules/yallist/*.js