# project
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/*.d.ts
node_modules/**/*.flow
node_modules/**/*.tsbuildinfo
node_modules/**/tests/
node_modules/**/testCases/

# text files
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/license
node_modules/**/LICENSE
