# project
.vscode/**
**/*.map
**/*.ts
**/*.d.ts
**/*.flow
.gitignore
**/tsconfig.json
**/tsconfig.*.json
**/*.tsbuildinfo
**/tests/
**/testCases/
packages/

# text files
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/license
node_modules/**/LICENSE
