name: Publish Packages

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  publish-ovsx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install Lerna Lite
        run: pnpm add -g @lerna-lite/cli @lerna-lite/version

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: npm run build

      - name: Publish to NPM
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          lerna publish from-package --yes --dist-tag=latest
