name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install global tools
        run: pnpm install -g @vscode/vsce ovsx

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        working-directory: extensions/vscode
        run: npm run build

      - name: Publish to Open VSX
        id: publish_ovsx
        run: |
          VERSION=$(jq -r .version package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          if [[ "$VERSION" == *-* ]]; then
            echo "Detected prerelease version: $VERSION"
            pnpm ovsx publish --pre-release
          else
            echo "Detected stable release version: $VERSION"
            pnpm ovsx publish
          fi
        working-directory: extensions/vscode
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}

      # - name: Publish to VSCode Marketplace
      #   if: ${{ !contains(steps.publish_ovsx.outputs.version, '-') }}
      #   working-directory: extensions/vscode
      #   env:
      #     VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
      #   run: vsce publish
